<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @eklabus.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @eklabus.address %>
</p>

<%= link_to 'Edit', edit_eklabus_path(@eklabus) %> |
<%= link_to 'Back', eklabus_path %>
